.h1 {
    font-size: medium;
    color: rebeccapurple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}

.image {
    width: fit-content;
    max-height: fit-content;
}
